body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Pattaya", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%; }

* {
  margin: 0; }

.card__container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

.card {
  height: 100%;
  width: 100%;
  position: relative;
  left: -100%;
  padding: 1rem 0; }
  .card__container {
    background-color: #ddfff7; }
  .card__title {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
    background-color: #ddfff7; }
  .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem; }
  .card__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; }

.transition {
  transform: translate(100%);
  transition: 0.8s ease; }

@media screen and (min-width: 768px) {
  .card {
    left: 0;
    margin: 0; }
    .card img {
      height: 20rem;
      width: 100%; }
    .card__title {
      padding: 2rem 0; } }

@media screen and (min-width: 992px) {
  .card {
    width: 36rem;
    margin: 1rem 0.5rem;
    justify-content: center;
    height: 20rem;
    transition: 0.5s ease; }
    .card__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    .card:hover {
      transform: scale(1.1);
      z-index: 10; } }

.contacto__wasap {
  position: fixed;
  z-index: 2;
  bottom: 2%;
  right: 5%;
  cursor: pointer; }

.footer__container {
  background-color: #982d5e;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center; }

.logotipo {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Tangerine", sans-serif; }
  .logotipo__firstPart {
    position: relative;
    margin: 0;
    padding: 0;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
    right: 20%; }
  .logotipo__secondPart {
    position: absolute;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    top: 70%;
    left: 4%; }

.ubication {
  font-family: "Pattaya", sans-serif;
  margin-top: 2.5rem;
  font-size: 1rem;
  color: rgba(221, 255, 247, 0.5); }

.social {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }
  .social__title {
    margin: 1rem 0 0.5rem 0; }
  .social__link {
    text-decoration: none;
    margin: 0 0.5rem; }

@media screen and (min-width: 768px) {
  footer {
    background-color: #982d5e; }
  .footer__container {
    flex-direction: row; }
  .footer__left {
    margin-left: 2rem; } }

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 96px;
  background-color: #861657; }
  .header__image {
    height: 100%;
    width: 8rem; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%; }

.menu__container {
  background-color: rgba(134, 22, 87, 0.8);
  height: 16rem;
  position: relative;
  right: 100%;
  transition: 2s ease-in-out; }

.nav {
  display: none; }
  .nav__list {
    display: flex;
    height: 100%; }
  .nav__item {
    list-style: none; }
  .nav__link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
    position: relative; }
    .nav__link:before {
      position: absolute;
      content: "";
      display: block;
      width: 0%;
      height: 3px;
      background: black;
      background-color: #501731;
      bottom: 0;
      left: 0;
      transition: all 1.5s; }
    .nav__link:hover::before {
      width: 100%; }

.menu {
  height: 100%;
  color: black; }
  .menu__list {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    user-select: none;
    list-style: none; }
  .menu a {
    color: black; }

.active {
  right: 0; }

@media screen and (min-width: 768px) {
  .header__menu {
    display: none; }
  .menu__container {
    display: none; }
  .nav {
    display: block; } }

.hero {
  width: 100%;
  height: calc(100vh - 86px); }
  .hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    min-height: calc(100vh - 86px); }

.hero__container {
  position: relative; }

.hero__listwork {
  display: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 32px;
  padding-left: 32px; }
