.card__container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.card {
  height: 100%;
  width: 100%;
  position: relative;
  left: -100%;
  padding: 1rem 0;
  &__container {
    background-color: $color-primary;
  }
  &__title {
    @include title;
  }
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
}
.transition {
  transform: translate(100%);
  transition: 0.8s ease;
}
@include breakpoint(md) {
  .card {
    left: 0;
    margin: 0;
    & img {
      height: 20rem;
      width: 100%;
    }
    &__title {
      padding: 2rem 0;
    }
  }
}
@include breakpoint(lg) {
  .card {
    width: 36rem;
    margin: 1rem 0.5rem;
    justify-content: center;
    height: 20rem;
    transition: 0.5s ease;
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 10;
    }
  }
}
//   &:hover {
//     transform: scale(1.1);
//     cursor: pointer;
//   }

//   &__image {
//     height: 100%;
//   }

// }
