.footer__container {
  background-color: $color-tertiary;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}

.logotipo {
  font-size: 6rem;
  font-weight: bold;
  font-family: $fuente-secondary;
  &__firstPart {
    position: relative;
    margin: 0;
    padding: 0;
    text-shadow: 2px 1px 1px rgba($color: #000000, $alpha: 0.5);
    right: 20%;
  }
  &__secondPart {
    position: absolute;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    top: 70%;
    left: 4%;
  }
}
.ubication {
  font-family: $fuente-primary;
  margin-top: 2.5rem;
  font-size: 1rem;
  color: rgba($color: $color-primary, $alpha: 0.5);
}
.social {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  &__title {
    margin: 1rem 0 0.5rem 0;
  }
  &__link {
    text-decoration: none;
    margin: 0 0.5rem;
  }
}
@include breakpoint(md) {
  footer {
    background-color: $color-tertiary;
  }
  .footer {
    &__container {
      flex-direction: row;
    }
    &__left {
      margin-left: 2rem;
    }
  }
}
